.image-logo {
    width: 70px;
}

.carrito-logo {
    width: 50px;
}

.nav-link {
    color: #fff;
    /* Asegura que el texto del enlace sea visible */
    text-decoration: none;
}

.nav-link:hover {
    color: #ccc;
    /* Cambia el color del enlace al pasar el mouse */
}