#login-card{
    margin-top: 120px;
}
  .card {
    width: 100%;
    max-width: 500px;
  }
  
  .ant-form-custom .ant-form-item {
    text-align: center;
  }
  
  .ant-form-item-label > label {
    width: 100%;
    text-align: left;
  }